<html>
    <head>
        <title>ToBuy</title>
    </head>
    <style>
        .courses{
            height: fit-content;
            width: fit-content;
            position: absolute;
            top: 45px;
            left: 245px;
            
        }
        img{
            height: 400px;
            width: 800px;
            box-shadow: 4px 4px 4px gray;
        }
       
        body{
            background-color: rgb(105, 255, 255);
        }
    </style>
    <body>
        <div class="courses" >
            
            <a href="trailer.html"><img src="/static/Wuz00n_course1.jpg"></a>
            
        </div>
    </body>
</html>